.content_container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom: 1px solid #d4d4d4;
    color: #656363;
    background-color: #fff;
}
.title {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
}
.title p{
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}
.content {
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 100px;
}
.reroll {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    border-radius: 28px;
    height: 60px;
}
.reroll button{
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}
.reroll:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.reroll svg{
    font-size: 60px;
    transform: scale(1.5);
    color: #656363;
}