.content_container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom: 1px solid #d4d4d4;
    color: #656363;
    background-color: #fff;
}
.title {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
}
.title p{
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}
.content {
    margin: 20px;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 100px;
}
.reroll {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 60px;
    display: flex;
    justify-content: center;
    border-radius: 28px;
    height: 60px;
}
.reroll button{
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}
.reroll:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.reroll svg{
    font-size: 60px;
    transform: scale(1.5);
    color: #656363;
}
.red{
    color: #ff0000;
}
.green{
    color: darkgreen;
}
.trivia_container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom: 1px solid #d4d4d4;
    color: #656363;
    background-color: #fff;
}
.trivia-content {
    display: flex;
}
#trivia_button {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    background: none;
}
#trivia_button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#trivia-fig {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
#trivia-fig img{
    margin-left: auto;
    margin-right: auto;
}
#trivia-cap{
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.triv-quest{
    display: flex;
}
#trivia_question{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
.triv-btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.triv-btn button{
    border: none;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    background: none;
}
.triv-btn button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}