.site_header {
    font-size: 1.6rem;
    color: #fff;
    background-color: transparent;
    height: 75px;
    overflow: hidden;
}
.site_header_flex {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.logo {
    left: 0;
    right: auto;
}
.site_nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-inline: auto;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
li {
    margin: 10px;
}
a {
    background-color: transparent;
    text-decoration: none;
}
.site_nav_li {
    display: inline;
    align-items: center;
    height: 100%;
    padding: 0;
    color: #fff;
    font-weight: 500;
    outline-offset: -3px;
    transition: color .25s;
}
.site_nav_li:hover {
    color: #fff;
}
.header_right {
    left: auto;
    right: 0;
}

.search {
    width: 200px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: transparent;
    
}
.search:focus-within {
    background: #fff;
    padding: 0px;
}
.search_input {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 150px;
}
.search_input::placeholder {
    color: #fff;
}
.search_input:focus::placeholder{
    color: #656363;
}
.search:has(.search_input:focus) {
    color:#656363;
}
.search_icon {
    margin-left: 10px;
}
.hover_underline {
    display: inline-block;
    position: relative;
}
.hover_underline::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: transform 0.25s ease-out;
    transform-origin: bottom center;
}
.hover_underline:hover::after{
    transform: scaleX(1);
    transform-origin: bottom center;
}