body {
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1;
}
.site_wrapper {
    position: relative;
}
#image1 {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}
.image_header {
    top: 20%;
}
.image_header_l {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.image_header_l span{
   font-size: 40px;
   font-weight: bold;
}
.image_header_l b{
    font-size: 35px;
}
